@charset "utf-8";

:root {
  --dark-background: #0d1117;
  --light-gray: rgb(32, 32, 32);
  --white-font: #fff;
  --bright-color: #D5FF57;
  --border-radius: 10px;
  --vertical-spacing: 2rem;
  --card-padding: 20px;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.small-container {
  width: min(100% - 30px, 600px);
  margin-inline: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-color: var(--dark-background);
}

/* ==============================Header============================== */

header {
  background-color: var(--light-gray);
  height: 3.5rem;
}

.logo-div {
  display: flex;
  align-items: center;
  .logo {
    font-size: 1.7em;
    color: var(--bright-color);
  }
}

header > .container {
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.logo-div, .pfp-div {
  width: 20%;
  height: 80%;
}

/* nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
}

nav ul li:not(:last-child) {
  margin-right: 2rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--white-font);
  font-weight: 400;
}

.pfp-div {
  display: flex;
  justify-content: end;
  align-items: center;
}

.pfp {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-image: url(../media/pfp.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

/* ==============================modal============================== */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--light-gray);
  color: var(--white-font);
  padding: var(--card-padding);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--vertical-spacing);
}

.close-modal {
  background-color: transparent;
  border: none;
  .fa-x {
    font-size: 1.4rem;
    color: var(--white-font);
    cursor: pointer;
  }
}

/* ==============================Post composer============================== */
.post-composer {
  display: flex;
  flex-direction: column;
  padding: var(--card-padding);
  border-radius: var(--border-radius);
  background-color: var(--light-gray);
  margin-top: var(--vertical-spacing); 
  margin-bottom: var(--vertical-spacing); 
}

.post-composer textarea {
  width: 100%;
  height: 7rem;
  resize: none;
  background-color: var(--light-gray);
  border: none;
  outline: none;
  color: var(--white-font);
}

.composer-actions {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-gray);
}

.upload-btn, .post-btn {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.upload-btn {
  padding: 0;
  background-color: transparent;
  .fa-image {
    font-size: 2rem;
    color: var(--white-font);
  }
}

.post-btn {
  background-color: var(--bright-color);
  color: var(--light-gray);
}

.file-name {
  color: var(--white-font);
}

/* ==============================Post Card============================== */
.post-card {
  border-radius: var(--border-radius);
  background-color: var(--light-gray);
  padding: var(--card-padding);
  margin-bottom: var(--vertical-spacing);
  color: var(--white-font);
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--card-padding);
}

.user-info {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-content {
  margin-bottom: 10px;
}

.post-image {
  width: 100%;
  height: 30rem;
  border-radius: var(--border-radius);
  object-fit: cover;
}


/* ==============================Font============================== */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
